@import '../../assets/scss/global.scss';

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white-color;
  background-clip: border-box;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);

  .card-header {
    background-color: $white-color;
    padding: 20px 40px;
    border-bottom: 1px solid $pattern-blue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
  }
  .card-body {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0);
  }
}
