$white-color: #ffffff;
$primary-color: #ec008c;
$pattern-blue: #dee2e6;
$yellow-color: #ffc412;
$light-grey-color: #bbb;
$dark-grey-color: #696969;
$danger-color: #c70000;
$white-smoke-color: #f8f8f8;
$snow-color: #f9f9f9;
$black-color: #262626;
